body {
    display: grid;
    grid-template-areas: "nav"
                         "main"
                         "footer";
    grid-template-rows: 50px 550px 100px;
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    margin: 0;
    padding: 0;
    font-family: arial;
    
}

#nav {
    grid-area: nav;
    padding: 20px 30px 0 30px;
    font-size: small;
}

#nav li {
    display: inline;
}

#nav-right {
    float: right;
}

#main {
    grid-area: main;
    display: grid;
    justify-items: center;
    align-items: center;    

}
#logo {
    position: relative;
    top: 100px; 
    width: 272px;
}
#search {
    position: relative; 
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    bottom: -52px;
    box-shadow: none;
    height: 44px;
    width: 514px;
    outline: none;
}
#button1 {
    position: relative; 
    bottom: 0px;
    right: 75px;
}
#button2 {
    position: relative;
    bottom: 131px;
    left: 70px;
}

#button1, #button2 {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}
#footer {
    grid-area: footer;
    font-size: small;

}

.footer-bar {
    display: block;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    padding: 0 30px;
}

#footer-left, #footer-right {
    color: #5f6368;
}

#footer-right {
    float: right; 
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #5f6368;
    padding-right: 15px;
}
